.nameTag{
  margin-left: 67%;
  font-size: 24px;
}

.title{
  text-align: center;
}

.outerContainer{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;

}

ul{
  list-style-type:none;
  padding: 0;

  
}

li{
  list-style-position:inside;
  border: 1px solid black;
}

li:not(:last-child){
  margin-bottom: 15px;
}

.addBtn{
  display: inline;
  margin-top: 10px;
  margin-left: 69%;
}

.sortBtn{
  
  margin-left: 73%;
}